body{
  background-color: #252627;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page{
  width: 100%;
  height: 100%;
  position: absolute;
}

.bglogo{
  position: absolute;
  top:20%;
  right: 15vh;
  height: 65vh;
  width: 65vh;
  z-index: 0;
}


path {
  fill: #252627;
  stroke: #00ffdc;
  animation: my_animation 2s linear forwards, filling .2s linear 2s forwards;
  stroke-dasharray: 400; /* need to ... */
  stroke-dashoffset: 400; /* ... match */
}

@keyframes my_animation {
  to {stroke-dashoffset: 0}
}

@keyframes filling {
  to {fill: #ff0046}
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.text {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%;
  max-height: 90%;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  color: white;
  font-size: 48px;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}
