@media only screen and (max-width: 1268px) {

    body{
      overflow: scroll;
    }
    /* For mobile phones: */
    .bglogo{
      width: 50vh;
      height: 50vh;

      position:absolute; /*it can be fixed too*/
      left:0; right:0;
      top:0; bottom:0;
      margin:auto;
    }
    .bglogo{

      z-index: 0;
    }
    p {
      z-index: 999;
      display: inline-block;
      vertical-align: top;
      width: 100%;
      margin: 0;
      color: white;
      font-size: 80px;

    }


}
