{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kuba - Minimal Portfolio Template">
    <meta name="keywords" content="Portfolio, Personal, Creatiev, Html Template, Portfolio Template">
    <meta name="author" content="ixTheme">
	<!--  title  -->
    <title>Vivank Sharma</title>
    
	<!--  favicon  -->
    <link href="{% static "img/logo.png" %}" type="image/png" rel="icon">
	<!--  main css  -->
    <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
	<!--  responsive css  -->
    <link href="{% static "css/responsive.css" %}" rel="stylesheet" type="text/css">
    <!--  Fontawesome css  -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body id="top">
    
    <!--  begin of preloader  -->
    <div class="preloader">
        <div class="preloader-dots">
            <div class="dot1"></div>
            <div class="dot2"></div>
            <div class="dot3"></div>

        </div>
    </div>
    <!--  end of preloader  -->
    <!--  begin of page-overlay  -->
    <div class="page-overlay"></div>
    <!--  end of page-overlay  -->
    <!-- begin of main-wrapper -->
    <div class="main-wrapper">
        <!-- begin of header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <!-- logo -->
                        <div class="logo">
                            <a>
                                vivank.dev
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- menu-btn -->
                        <div class="menu-btn">
                            <div class="menu-icon" data-text="menu">
                                <div class="menu-line menu-line-1"></div>
                                <div class="menu-line menu-line-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end of header -->
        <!-- begin of menu -->
        <nav class="full-screen-menu">
            <!-- lineAnimationBG -->
            <div class="lineAnim-bg">
                <div></div><div></div><div></div><div></div>
            </div>
            <!-- menu/page-links -->
            <div class="menu-panel">
                <ul class="page-links">
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="#services">About</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#blogs">Blogs</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- menu close button -->
            <div class="menu-close">
                <span class="ion-ios-close-empty"></span>
            </div>
        </nav>
        <!-- end of menu -->
        <!-- begin of landing-wrapper -->
        <div class="landing-wrapper">
            <!-- lineAnimationBG -->
            <div class="lineAnim-bg no-line">
                <div></div><div></div><div></div><div></div>
            </div>
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-10">
                        <div class="landing-content">
                            <h2 class="intro-text">Hey <i class="far fa-hand-spock"></i>,</h2>
                            {{subtitle|safe}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="landing-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="social-links">
                                <li><a href="https://github.com/{{github}}" target="_blank"><span class="fab fa-github"></span></a></li>
                                <li><a href="https://twitter.com/{{twitter}}" target="_blank"><span class="ion-social-twitter"></span></a></li>
                                <li><a href="https://www.linkedin.com/in/{{linkedin}}" target="_blank"><span class="ion-social-linkedin"></span></a></li>
                                <li><a href="https://dev.to/{{dev_to}}" target="_blank"><i class="fab fa-dev"></i></a></li>
                                
                            </ul>
                            <!-- scroll-down -->
                            <a href="#services" class="smooth-scroll scroll-down">
                                <span class="ion-arrow-down-c"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of landing-wrapper -->

        <!-- begin of service-wrapper -->
        <div id="services" class="section-padding service-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h2 class="section-title">About me?</h2>
                        {{about|safe}}
                        

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="service-item mt-30">
                            <div class="service-border">
                                <span class="ion-ios-barcode-outline"></span>
                                <h4>Web Development</h4>
                                <p>I like to design frameworks from scratch to accommodate every need of the project.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-item mt-30">
                            <div class="service-border">
                                <span class="ion-ios-eye-outline"></span>
                                <h4>Interactive Design</h4>
                                <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-item mt-30">
                            <div class="service-border">
                                <span class="ion-ios-infinite-outline"></span>
                                <h4>Data Science</h4>
                                <p>Torchure the data, it'll confess. I find patterns in a big data to extract meaningful insights from it.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of service-wrapper -->

        <!-- begin of skill-slider-wrapper  -->
        <div class="section-padding skill-slider-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-title-alt">
                            <h4 class="u-line">My</h4>
                            <br>
                            <h4 class="u-line">Expertise?</h4>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="skill-single">
                            <h4>Back End</h4>
                            <div>
                                <p>90%</p>
                                <div class="skill-slide-wrap">
                                    <span class="skill-slide wow slideInLeft" style="width:90%"></span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-single mt-20">
                            <h4>Deep Learning</h4>
                            <div>
                                <p>80%</p>
                                <div class="skill-slide-wrap">
                                    <span class="skill-slide wow slideInLeft" data-wow-delay=".1s" style="width:80%"></span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-single mt-20">
                            <h4>Machine Learning</h4>
                            <div>
                                <p>75%</p>
                                <div class="skill-slide-wrap">
                                    <span class="skill-slide wow slideInLeft" data-wow-delay=".2s" style="width:75%"></span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-single mt-20">
                            <h4>Front End</h4>
                            <div>
                                <p>62%</p>
                                <div class="skill-slide-wrap">
                                    <span class="skill-slide wow slideInLeft" data-wow-delay=".2s" style="width:62%"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of skill-slider-wrapper -->

        <!-- begin of skill-slider-wrapper  -->
        <div id="experience" class="section-padding skill-slider-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-title-alt">
                            <h4 class="u-line">My</h4>
                            <br>
                            <h4 class="u-line">Experience?</h4>
                        </div>
                    </div>
                    <div class="col-md-9">
                        
						<ul class="timeline">
                            {% for i in exp %}
							<li>
								<a target="_blank" href="{{i.link}}">{{i.title}}</a>
								<a href="#" class="float-right">{{i.period}}</a>
								<p>{{i.desc | safe}}</p>
							</li>
                            {% endfor %}
						</ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of skill-slider-wrapper -->

        <!-- begin of client-image-wrapper  -->
        <div class="section-padding client-image-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-title-alt">
                            <h4 class="u-line">What I</h4>
                            <br>
                            <h4 class="u-line">Use?</h4>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                <div class="img-box client-item">
                                    <img class="img-fluid" src="{% static "img/clients/dj.png" %}" alt="">
                                    <p>Django</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                <div class="img-box client-item">
                                    <img class="img-fluid" src="{% static "img/clients/tf.png" %}" alt="">
                                    <p>Tensorflow</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                <div class="img-box client-item">
                                    <img class="img-fluid" src="{% static "img/clients/pt.png" %}" alt="">
                                    <p>PyTorch</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                <div class="img-box client-item">
                                    <img class="img-fluid" src="{% static "img/clients/pg.png" %}" alt="">
                                    <p>PostgreSQL</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                <div class="img-box client-item">
                                    <img class="img-fluid" src="{% static "img/clients/dk.png" %}" alt="">
                                    <p>Docker</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                <div class="img-box client-item">
                                    <img class="img-fluid" src="{% static "img/clients/gc.png" %}" alt="">
                                    <p>Google Cloud Platform</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                <div class="img-box client-item">
                                    <img class="img-fluid" src="{% static "img/clients/az.png" %}" alt="">
                                    <p>Microsoft Azure</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                <div class="img-box client-item">
                                    <img class="img-fluid" src="{% static "img/clients/git.png" %}" alt="">
                                    <p>Github</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of client-image-wrapper -->

        <!-- begin of promotion-wrapper  -->
        <div class="promotion-wrapper">
            <!-- lineAnimationBG -->
            <div class="lineAnim-bg">
                <div></div><div></div><div></div><div></div>
            </div>
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-6 col-md-8">
                        <h4>Want to <span>know more</span>?</h4>
                        <a href="#contact" class="Kuba-button">let's talk</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- end of promotion-wrapper -->
        <!-- begin of projects-wrapper -->
        <div id="projects" class="section-padding projects-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="section-title">Projects</h2>
                        <p class="mb-80">A developer's portfolio is always incomplete without projects.</p>
                    </div>
                </div>
                <!-- work filter start -->
               <div class="row">
                    <div class="col-12">
                        <div class="filter-buttons mb-50">
                            <button class="active" data-filter="*">Everything</button>
                            <button data-filter=".wd" class="">Web Development</button>
                            <button data-filter=".ai" class="">Artificial Intelligence</button>
                            <button data-filter=".da" class="">Data Analysis</button>
                        </div>
                    </div>
                </div>
                <!-- work filter end -->
                <div class="row filter-projects three-column" style="position: relative; height: 689.062px;">
                    {% for i in projects%}
                    <div class="col-lg-4 col-md-6 mb-50 {{i.category}}" style="position: absolute; left: 0px; top: 0px;">
                        <a href="{{i.repo_link}}">
                            <div class="project-img noise-dark">
                                <img class="img-fluid" src="{{i.image.url}}" alt="">
                            </div>
                        </a>
                        <div class="project-short-info mb-0">
                            <p>{{i.sub_title}}</p>
                            <a href="{{i.repo_link}}" target="_blank">
                                <h4 data-text="{{i.title}}">{{i.title}}</h4>
                            </a>
                        </div>
                    </div>
                    {%endfor%}
                
                </div>
            </div>
            <div class="text-center mt-20">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col">
                            <a  class="Kuba-button button-dark">More Projects Coming Soon</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of projects-wrapper -->
        

        <div id="blogs" class="section-padding blogs-wrapper pt-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="section-title">Blogs</h2>
                        
                    </div>
                </div>
                <div class="row">
                    {%for blog in blogs%}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item mt-30">
                            <div class="blog-img" style="border: 1px solid #ddd;">
                                <a href="blog-details-text-post.html">
                                    <img class="img-fluid" src="{{blog.image.url}}" alt="">
                                    <span class="ion-ios-paper-outline"></span>
                                </a>
                            </div>
                            <div class="blog-item-info">
                                <a href="#0" class="blog-post-date">{{blog.date|safe}}</a>
                                <h4><a href="{{blog.blog_link}}" target="_blank">{{blog.title}}</a></h4>
                                
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                
            </div>
            <div class="text-center mt-20">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col">
                            <a href="https://www.dev.to/vivanks" target="_blank"  class="Kuba-button button-dark">Read More!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin of contact-wrapper -->
        <div id="contact" class="section-padding contact-wrapper">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12">
                        <h2 class="section-title">Contact me!</h2>
                        <form class="contact__form mt-50" method="post" action="/contact">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <p class="contact__msg"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input_group">
                                        <textarea name="message" id="message" class="input_control input_required"></textarea>
                                        <label for="message">Your Message<span>*</span></label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input_group">
                                        <input name="name" type="text" id="name" class="input_control input_required">
                                        <label for="name">Your Name<span>*</span></label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input_group">
                                        <input name="email" type="email" id="email" class="input_control input_required">
                                        <label for="email">Your Email<span>*</span></label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input_group">
                                        <input name="subject" type="text" id="subject" class="input_control">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button class="Kuba-button button-dark" name="submit" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of contact-wrapper -->
        <!--  begin of footer  -->
        <footer class="section-padding text-center">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="social">
                            <a href="https://github.com/{{github}}" target="_blank">Github</a>
                            <a href="https://twitter.com/{{twitter}}" target="_blank">Twitter</a>
                            <a href="https://www.linkedin.com/in/{{linkedin}}" target="_blank">Linkedin</a>
                            <a href="https://dev.to/{{dev_to}}" target="_blank">Dev.to</a>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters justify-content-center">
                    <div class="col-md-6">
                        <div class="footer_widget">
                            <h5 class="footer_widget_title">Get In Touch</h5>
                            <span class="line"></span>
                            <p><a href="mailto:{{mail}}">{{mail}}</a></p>
                            <p><a href="tel:{{contact}}">{{contact}}</a></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer_widget">
                            <h5 class="footer_widget_title">Address</h5>
                            <span class="line"></span>
                            {{address|safe}}
                        </div>
                    </div>
                    
                </div>
                <div class="row no-gutters">
                    <div class="col-12">
                        <p class="copyright">© 2021 <span>Vivank Sharma</span>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>

        <!--  end of footer  -->
        <!-- begin of scroll-top button -->
        <a href="#top" class="smooth-scroll scroll-top"><span class="ion-chevron-up"></span></a>
        <!-- end of scroll-top button -->
    </div>
    <!-- end of main-wrapper -->
    <!-- ========  All JS Here ========  -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>


</body>
</html>
